<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>512563733832-frs25k92n5rtqthv94cpig9338e0gb80.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.512563733832-frs25k92n5rtqthv94cpig9338e0gb80</string>
	<key>API_KEY</key>
	<string>AIzaSyDaRh8g1vVuHU0xLa2lcuhWHTDdsEHz8rE</string>
	<key>GCM_SENDER_ID</key>
	<string>512563733832</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>bulapp</string>
	<key>PROJECT_ID</key>
	<string>bulapp-54609</string>
	<key>STORAGE_BUCKET</key>
	<string>bulapp-54609.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:512563733832:ios:c16b4f05b36f478dec7f7d</string>
	<key>DATABASE_URL</key>
	<string>https://bulapp-54609.firebaseio.com</string>
</dict>
</plist>